@media only screen and  (max-width: 995px) {
    .head{

    }
    .main-part {
        width: 790px;
    }
    .search {
        width: 880px;
        margin-left: 40px;
    }
    .search {
        width: 800px;
        margin-left: 60px;
        height: auto;
    }
    .search-img {
        left: 290px;
    }
    .search-form {
        width: 640px;
        padding: 50px 0 10px 10px;
    }
}
@media only screen and  (min-width: 981px) {
    .main-part {
        width: 754px;
    }
}
@media only screen and  (max-width: 980px) {
    .slider-content {
        display: none;
    }
    .main-part {
        max-width: 670px;
        height: auto;
    }
    .search {
        width: 800px;
        margin-left: 60px;
        height: auto;
    }
    .search-img {
        left: 290px;
    }
    .search-form {
        width: 640px;
        padding: 50px 0 10px 10px;
    }
    .mi-slider {
        width: 683px;
    }
    .mi-slider .slider-head {
        top: 0;
        left: 35px;
    }
    .mi-slider .slider-head-img {
        top: -9px;
        left: 235px;
    }
    .main-part {
        margin-top: 10px;
    }
    .menu {
        margin-top: 5px;
        margin-right: 95px;
    }
}

@media only screen and  (max-width: 920px) {
    .head {
        width: 920px;
        height: 155px;
    }
    .head .logo {
        margin-left: 300px;
    }
    .menu {
        margin-right: 88px;
    }
    .search {
        margin: 65px 0 0 5%;
    }
    .search-img {
        left: 275px;
    }
    .main-part {
        width: 455px;
        margin: 0 0 0 10%;
    }
    .main-part {
        margin-left: 10%;
    }
    .mi-slider {
        width: 480px;
    }
    .mi-slider .slider-head {
        width: 410px;
        top: 11px;
        left: 35px;
    }
    .mi-slider .slider-head-img {
        top: 3px;
        left: 140px;
    }
    .mi-slider nav a {
        letter-spacing: 0;
    }
}
@media only screen and (max-width: 845px) {
    .menu {
        margin-right: 145px;
    }
    .head {
        width: 845px;
    }
    .search {
        width: 400px;
        margin-left: 20%;
    }
    .search-form {
        width: 320px;
    }
    .search-img {
        left: 90px;
    }
    .main-part {
        margin-left: 0;
    }
}
@media only screen and (max-width: 715px) {
    .menu {
        margin: 0;
        margin-top: 5px;
        margin-right: 55px;
    }
    .left-part {
        display: none;
    }
    .main-part {
        margin-left: 13%;
    }
    .head {
         width: 715px;
     }
}
@media only screen and (max-width: 680px) {
    .head {
        width: 680px;
        height: 193px;
    }
    .head .logo {
        margin-left: 180px;
    }
    .menu {
        border-top: 0;
        width: 400px;
        margin-right: 140px;
    }
    .enter {
        margin-top: -5px;
        padding: 0 0 0 10px;
    }
    .search {
        margin-top: 115px;
    }
}
@media only screen and (max-width: 570px){
    .bottom-part .bottom-down-img {
        left: 20%;
    }
    .enter {
        margin: 0;
    }
    .bottom-part .bottom-right-part {
        margin: 5px 8px;
        width: 47%;
        min-width: 209px;
    }
    .main-part {
        margin-left: 0;
    }
    .menu {
        margin-right: 210px;
    }
    .search {
         margin-left: 10%;
     }
    .head .logo {
        margin-left: 100px;
    }
}
@media only screen and (max-width: 480px) {
    .mi-slider {
        width: 375px;
        margin-left: -25px;
    }
    .mi-slider .slider-head {
        display: none;
    }
    .mi-slider .slider-head-img {
        display: none;
    }
    .bottom-part .bottom-right-part {
        border-left: 0;
    }
    .search {
        width: 325px;
        margin-left: 20%;
    }
    .find {
        margin: 20px 140px 0 0;
    }
    .search .search-img {
        left: 50px;
    }
    .main-part {
        width: 235px;
        margin-left: 20%;
    }
    .search-img {
        left: 0;
    }
    .bottom-part .bottom-left-part {
        width: 100%;
    }
    .bottom-part .bottom-right-part {
        width: 100%;
    }
    .form {
        width: 315px;
        margin-left: -10px;
    }
    .question {
        margin-left: 45px;
        width: 210px;
    }
    .obj-list {
        margin-left: -35px;
    }
}
@media only screen and (max-width: 407px) {
    .menu-item,
    .enter {
        width: 200px;
        margin: 0 0 0 35px;
    }
    .menu {
        margin-left: 0;
    }
    .head {
        height: 295px;
    }
    .head .logo {
        margin: 0 0 0 60px;
    }
    .bottom-part .bottom-down-img {
        left: 35px;
    }
    .search{
        margin-top: 220px;
        margin-left: 35px;
    }
    .main-part {
        margin-left: 35px;
    }
    .mi-slider {
        margin-left: -20px;
    }
    .form {
        width: 315px;
    }
    .question {
        margin-left: 45px;
        width: 210px;
    }
    .obj-list {
        margin-left: -10px;
    }
}
