.logo {
    background: url("/usr/img/sprite.png") -30px -163px;
    width: 216px;
    height: 65px;
}
.menu-about-img{
    background: url("/usr/img/sprite.png") -67px -1px;
}
.menu-contacts-img{
    background: url("/usr/img/sprite.png") -35px -0px;
}
.menu-service-img{
    background: url("/usr/img/sprite.png") -98px -0px;
}
.button-bg {
    background: url("/usr/img/sprite.png") -28px -125px;
}
.button-bg-img1 {
    width: 32px;
    height: 26px;
    background: url("/usr/img/sprite.png") -23px -173px;
}
.button-bg-img2 {
    width: 33px;
    height: 26px;
    background: url("/usr/img/sprite.png") -60px -173px;
}
.button-bg-img3 {
    width: 28px;
    height: 25px;
    background: url("/usr/img/sprite.png") -97px -173px;
}
.prev_slide-img {
    width: 32px;
    height: 59px;
    background: url("/usr/img/sprite.png") -223px -2px;
}
.next_slide-img {
    width: 32px;
    height: 59px;
    background: url("/usr/img/sprite.png") -188px -1px;
}
.favorites {
    background: url("/usr/img/sprite.png") 0px -226px;
}
.favorites-img-active {
    background: url("/usr/img/sprite.png") -261px -2px;
}
.contact-img {
    background: url("/usr/img/sprite.png") -258px -41px;
}
.flag-b {
    background: url("/usr/img/sprite.png") 0 -27px;
}
.flag-t {
    background: url("/usr/img/sprite.png") 0 -118px;
}
.flag-g {
    background: url("/usr/img/sprite.png") 0 -74px;
}
.flag-i {
    background: url("/usr/img/sprite.png") 0 -96px;
}
.flag-f {
    background: url("/usr/img/sprite.png") 0 -50px;
}
.flag-ok {
    background: url("/usr/img/sprite.png") 0 -141px;
}
.separ {
    width: 2px;
    height: 25px;
    background: url("/usr/img/sprite.png") 0 0;
}
.hide-control-open,
.hide-control-close {
    width: 21px;
    height: 21px;
    background: url("/usr/img/sprite.png") 0 -165px;
}
.hide-control-close {
    transform: rotate(180deg);
}
.search-img,
.slider-head-img {
    background: url("/usr/img/sprite.png") -33px -346px;
}
.find {
    background: url("/usr/img/sprite.png") -53px -26px;
}
.search-map {
    width: 27px;
    height: 28px;
    background: url("/usr/img/sprite.png") -129px 0px;
}
.bottom-down-img {
    background: url("/usr/img/sprite.png") -23px -106px;
}
.close{
    width: 28px;
    height: 28px;
    background: url("/usr/img/sprite.png") 0px -186px;
}